<!-- JSON-LD job posting structured data -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "JobPosting",
    "title": "{{ .Title }}",
    "hiringOrganization": {
      "@type": "Organization",
      "sameAs": "{{ site.BaseURL }}",
      "name": "{{ .Site.Data.site_settings.business_name }}"
    },
    "jobLocation": {
      "@type": "Place",
      "address": {
        "streetAddress": "{{ .Params.location.street }}",
        "addressLocality": "{{ .Params.location.city }}",
        "addressRegion": "{{ .Params.location.state }}",
        "postalCode": "{{ .Params.location.zip }}",
        "addressCountry": "United States"
      }
    },
    "datePosted": "{{ .Date | time.Format "2006-01-02" }}",
    "validThrough": "{{ .Date.AddDate 1 0 0 | time.Format "2006-01-02" }}",
    "description": "{{ .Params.seo.meta_description }}",
    "employmentType": "{{ .Params.job_type | upper | replace " " "_" }}",
    "workhours": "40 to 60 hours per week"
  }
</script>
