<form class="mt-1" id="apply" name="job_application" enctype="multipart/form-data" method="post" action="/thank-you/">
  <div class="visually-hidden">
      <label for="_subject">New application from the Fox Structures Job Application Form</label>
      <input aria-label="subject" id="_subject" name="_subject" value="New application from the Fox Structures Job Application Form">
  </div>
  <h2 class="h4 text-primary">Apply Today</h2>
  <p>To get started, please submit your contact information below.</p>
  <hr>
  <div class="contact-form__form-group">
      <label for="first_name">First Name *</label>
      <input name="First Name" id="first_name" type="text" class="contact-form__form-control" required>
  </div>
  <div class="contact-form__form-group">
      <label for="last_name">Last Name *</label>
      <input name="Last Name" id="last_name" type="text" class="contact-form__form-control" required>
  </div>
  <div class="contact-form__form-group">
      <label for="phone">Phone *</label>
      <input name="Phone" id="phone" type="tel" class="contact-form__form-control" required>
  </div>
  <div class="contact-form__form-group">
      <label for="email">Email *</label>
      <input name="Email Address" id="email" type="email" class="contact-form__form-control" required>
  </div>
  <h3 class="h4 text-primary">Education</h3>
  <hr>
  <div class="contact-form__form-group">
      <label for="education">Do you have a high school diploma? *</label>
      <select name="Education - HS Diploma" id="education" class="contact-form__form-control" required>
        <option value="">Please choose an option:</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
  </div>
  <div class="contact-form__form-group">
      <label for="additional_education">Do you have any additional education?</label>
      <input name="Additional Education" id="additional_education" type="text" class="contact-form__form-control">
  </div>
  <h3 class="h4 text-primary">Experience</h3>
  <hr>
  <div class="contact-form__form-group">
      <label for="experience">Do you have any construction experience? *</label>
      <select name="Construction Experience" id="experience" class="contact-form__form-control" required>
        <option value="">Please choose an option:</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
  </div>
  <div class="contact-form__form-group">
      <label for="additional_experience">If so, list construction experience here:</label>
      <input name="Additional Experience" id="additional_experience" type="text" class="contact-form__form-control">
  </div>
  <h4 class="h4 text-primary">Previous Employment #1:</h2>
  <hr>
  <div class="contact-form__form-group">
      <label for="previous_employer_name">Employer Name</label>
      <input name="Previous Employer Name" id="previous_employer_name" type="text" class="contact-form__form-control">
  </div>
  <div class="contact-form__form-group">
      <label for="previous_employer_address">Employer Address</label>
      <input name="Previous Employer Address" id="previous_employer_address" type="text" class="contact-form__form-control">
  </div>
  <div class="contact-form__form-group">
      <label for="previous_position">Position</label>
      <input name="Previous Position" id="previous_position" type="text" class="contact-form__form-control">
  </div>
  <div class="contact-form__form-group">
      <label for="previous_dates_of_employment">Dates of Employment</label>
      <input name="Previous Dates of Employment" id="previous_dates_of_employment" type="text" class="contact-form__form-control">
  </div>
  <h4 class="h4 text-primary">Previous Employment #2:</h2>
  <hr>
  <div class="contact-form__form-group">
      <label for="previous_employer_name_2">Employer Name</label>
      <input name="Previous Employer Name 2" id="previous_employer_name_2" type="text" class="contact-form__form-control">
  </div>
  <div class="contact-form__form-group">
      <label for="previous_employer_address_2">Employer Address</label>
      <input name="Previous Employer Address 2" id="previous_employer_address_2" type="text" class="contact-form__form-control">
  </div>
  <div class="contact-form__form-group">
      <label for="previous_position_2">Position</label>
      <input name="Previous Position 2" id="previous_position_2" type="text" class="contact-form__form-control">
  </div>
  <div class="contact-form__form-group">
      <label for="previous_dates_of_employment_2">Dates of Employment</label>
      <input name="Previous Dates of Employment 2" id="previous_dates_of_employment_2" type="text" class="contact-form__form-control">
  </div>
  <h4 class="h4 text-primary">Previous Employment #3:</h2>
  <hr>
  <div class="contact-form__form-group">
      <label for="previous_employer_name_3">Employer Name</label>
      <input name="Previous Employer Name 3" id="previous_employer_name_3" type="text" class="contact-form__form-control">
  </div>
  <div class="contact-form__form-group">
      <label for="previous_employer_address_3">Employer Address</label>
      <input name="Previous Employer Address 3" id="previous_employer_address_3" type="text" class="contact-form__form-control">
  </div>
  <div class="contact-form__form-group">
      <label for="previous_position_3">Position</label>
      <input name="Previous Position 3" id="previous_position_3" type="text" class="contact-form__form-control">
  </div>
  <div class="contact-form__form-group">
      <label for="previous_dates_of_employment_3">Dates of Employment</label>
      <input name="Previous Dates of Employment 3" id="previous_dates_of_employment_3" type="text" class="contact-form__form-control">
  </div>
  <hr>
  <div class="contact-form__form-group">
      <label for="drivers_license">Do you have a driver's license? *</label>
      <select name="Drivers License" id="drivers_license" class="contact-form__form-control" required>
        <option value="">Please choose an option:</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
  </div>
  <div class="contact-form__form-group">
      <label for="cdl_license">Do you have a CDL? *</label>
      <select name="CDL License" id="cdl_license" class="contact-form__form-control" required>
        <option value="">Please choose an option:</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
  </div>
  {{ if eq .Title "Apply" }}
    <div class="contact-form__form-group">
        <label for="position">Position Applying For? *</label>
        <select name="Position Applying For" id="position" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            {{ range where site.RegularPages "Section" "careers" }}
                <option value="{{ .Title }}">{{ .Title }}</option>
            {{- end -}}
        </select>
    </div>
  {{ end }}
    <div class="contact-form__form-group">
      <label for="resume">Resume/Cover Letter</label>
      <input aria-label="resume" name="Resume" type="file">
    </div>
    <div class="contact-form__form-group">
      <label for="message">Additional Information</label>
      <textarea name="Message" id="message" class="contact-form__form-control" rows="4"></textarea>
    </div>
  <input type="hidden" name="inbox_key" value="fox-structures-hr-inbox">
  <input type="text" name="_gotcha" class="visually-hidden" aria-label="gotcha">
  <div class="cf-turnstile" data-sitekey="0x4AAAAAAAzzY3BHaVr2Ns_D"></div>
  <br>
  <button type="submit" class="contact-form__btn btn btn--primary">Send Application</button>
</form>