<form class="mt-1" id="apply" name="job_application" enctype="multipart/form-data" method="post" action="/thank-you/">
  <div class="visually-hidden">
      <label for="_subject">New application from the Fox Structures job application form</label>
      <input aria-label="subject" id="_subject" name="_subject" value="New application from the Fox Structures job application form">
  </div>
  <h2 class="h4 text-primary">Apply Today</h2>
  <p>To get started, please submit your contact information and resume below.</p>
  <hr>
  <div class="contact-form__form-group">
      <label for="first_name">First Name *</label>
      <input name="First Name" id="first_name" type="text" class="contact-form__form-control" required>
  </div>
  <div class="contact-form__form-group">
      <label for="last_name">Last Name *</label>
      <input name="Last Name" id="last_name" type="text" class="contact-form__form-control" required>
  </div>
  <div class="contact-form__form-group">
      <label for="email">Email *</label>
      <input name="email" id="email" type="email" class="contact-form__form-control" required>
  </div>
  <div class="contact-form__form-group">
      <label for="phone">Phone *</label>
      <input name="Phone" id="phone" type="tel" class="contact-form__form-control" required>
  </div>
  {{ if eq .Title "Apply" }}
    <div class="contact-form__form-group">
        <label for="contact_preference">Position Applying For? *</label>
        <select name="Contact Preference" id="contact_preference" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            {{ range where site.RegularPages "Section" "careers" }}
                <option value="{{ .Title }}">{{ .Title }}</option>
            {{- end -}}
        </select>
    </div>
  {{ end }}
  <div class="contact-form__form-group">
    <label for="resume">Resume/Cover Letter*</label>
    <input aria-label="resume" name="resume" type="file" required>
  </div>
  <div class="contact-form__form-group">
      <label for="message">Message *</label>
      <textarea name="Message" id="message" class="contact-form__form-control" rows="4" required></textarea>
  </div>
  <input type="hidden" name="inbox_key" value="fox-structures-hr-inbox">
  <input type="text" name="_gotcha" class="visually-hidden" aria-label="gotcha">
  <div class="h-captcha" data-sitekey="1fed954e-6da0-41fa-8f8e-3833e98ac619"></div>
  <br>
  <button type="submit" class="contact-form__btn btn btn--primary">Send Application</button>
</form>