<form method="post" name="Contact Stadium Bike" action="/thank-you/">
    <div class="visually-hidden">
        <label for="_subject">New form submission from the foxstructures.com contact form</label>
        <input aria-label="subject" id="_subject" name="_subject" value="New form submission from the foxstructures.com contact form"/>
    </div>
    <div class="contact-form__form-group">
        <label for="interested">I'm Interested In *</label>
        <select name="Interested In" id="interested" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            <option value="Agricultural Construction">Agricultural Construction</option>
            <option value="Commercial Construction">Commercial Construction</option>
            <option value="Concrete Services">Concrete Services</option>
            <option value="Equestrian Construction">Equestrian Construction</option>
            <option value="Residential Construction">Residential Construction</option>
            <option value="Storage Construction">Storage Construction</option>
            <option value="Welding Services">Welding Services</option>
        </select>
    </div>
    <div class="contact-form__form-group">
        <label for="timeline">Building Timeline *</label>
        <select name="Timeline" id="timeline" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            <option value="90 days">90 days</option>
            <option value="90 days - 6 months">90 days - 6 months</option>
            <option value="6 months or longer">6 months or longer</option>
            <option value="No timeline has been established yet">No timeline has been established yet</option>
        </select>
    </div>
    <div class="contact-form__form-group">
        <label for="budget">Estimated Budget *</label>
        <select name="Budget" id="budget" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            <option value="$150K - $300K">$150K - $300K</option>
            <option value="$300K - $500K">$300K - $500K</option>
            <option value="$500K - $750K">$500K - $750K</option>
            <option value="$750K - $1M">$750K - $1M</option>
            <option value="$1M+">$1M+</option>
            <option value="No budget has been established yet">No budget has been established yet</option>
        </select>
    </div>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
                <label for="first_name">First Name *</label>
                <input name="First Name" id="first_name" type="text" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="last_name">Last Name *</label>
                <input name="Last Name" id="last_name" type="text" class="contact-form__form-control" required>
            </div>
        </div>
    </div>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
                <label for="email">Email *</label>
                <input name="email" id="email" type="email" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="phone">Phone *</label>
                <input name="Phone" id="phone" type="tel" class="contact-form__form-control" required>
            </div>
        </div>
    </div>  
    <div class="contact-form__form-group">
        <label for="contact_preference">How would you prefer to be contacted? *</label>
        <select name="Contact Preference" id="contact_preference" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            <option value="Phone">Phone</option>
            <option value="Email">Email</option>
        </select>
    </div>
    <div class="contact-form__form-group">
        <label for="message">Message *</label>
        <textarea name="Message" id="message" class="contact-form__form-control" rows="4" required></textarea>
    </div>
    <input type="hidden" name="inbox_key" value="fox-structures-inbox">
    <input type="text" name="_gotcha" class="visually-hidden" aria-label="gotcha">
    <div class="h-captcha" data-sitekey="1fed954e-6da0-41fa-8f8e-3833e98ac619"></div>
    <br>
    <button type="submit" class="contact-form__btn btn btn--primary">Send Request</button>
</form>