<section aria-labelledby="hero-heading" class="hero-portfolio p-relative">
    <div class="swiper gallerySwiper">
        <div class="swiper-wrapper">
            {{ if .Params.gallery }}
                {{ range .Params.gallery }}
                <div class="swiper-slide">
                    <picture>
                        <source sizes="100vw" srcset="https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_85,w_600,h_450,c_fill{{ .image.image_url }} 600w, https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_85,w_800,h_500,c_fill{{ .image.image_url }} 800w, https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_85,w_1000,h_700,c_fill{{ .image.image_url }} 1000w, https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_85,w_1200,h_800,c_fill{{ .image.image_url }} 1200w, https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_85,w_1400,h_800,c_fill{{ .image.image_url }} 1400w, https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_85,w_1800,h_1000,c_fill{{ .image.image_url }} 1800w, https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_85,w_2000,h_1000,c_fill{{ .image.image_url }} 2000w" type="image/avif">

                        <source sizes="100vw" srcset="https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_85,w_600,h_450,c_fill{{ .image.image_url }} 600w, https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_85,w_800,h_500,c_fill{{ .image.image_url }} 800w, https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_85,w_1000,h_700,c_fill{{ .image.image_url }} 1000w, https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_85,w_1200,h_800,c_fill{{ .image.image_url }} 1200w, https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_85,w_1400,h_800,c_fill{{ .image.image_url }} 1400w, https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_85,w_1800,h_1000,c_fill{{ .image.image_url }} 1800w, https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_85,w_2000,h_1000,c_fill{{ .image.image_url }} 2000w" type="image/webp">

                        <source sizes="100vw" srcset="https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_85,w_600,h_450,c_fill{{ .image.image_url }} 600w, https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_85,w_800,h_500,c_fill{{ .image.image_url }} 800w, https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_85,w_1000,h_700,c_fill{{ .image.image_url }} 1000w, https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_85,w_1200,h_800,c_fill{{ .image.image_url }} 1200w, https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_85,w_1400,h_800,c_fill{{ .image.image_url }} 1400w, https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_85,w_1800,h_1000,c_fill{{ .image.image_url }} 1800w, https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_85,w_2000,h_1000,c_fill{{ .image.image_url }} 2000w" type="image/jpg">
                    
                        <img src="https://res.cloudinary.com/foxstructures/image/upload{{ .image.image_url }}" alt="{{ .image.image_alt }}" width="1500" height="600">
                      </picture>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
    <div class="hero-portfolio__header p-absolute">
        <img class="portfolio__curve p-absolute" src="/uploads/portfolio-curves-3.svg" alt="">
        <div class="hero-portfolio__header-inner grid gap-sm wrapper-lg">
            <div class="grid-12 grid-6-md">
                <p class="hero-portfolio__location opacity-80 shift-up letter-spacing-2 font-size-xs fw-700 no-margin">{{ .Params.location.city }}, {{ .Params.location.state }}</p>
                <h1 id="hero-heading" class="h2 no-margin shift-up letter-spacing-2">{{ .Title }}</h1>
            </div>
            <div class="grid-12 grid-6-md">
                <div class="flex shift-up fw-700 font-size-xs letter-spacing-2 opacity-80">Gallery (<div class="swiper-pagination fw-700 font-size-xs">Gallery</div>)</div>
                <div class="swiper thumbnailSwiper">
                    <div class="swiper-wrapper">
                        {{ if .Params.gallery }}
                            {{ range .Params.gallery }}
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_20,w_100,h_100,c_fill{{ .image.image_url }}" type="image/avif">

                                    <source srcset="https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_20,w_100,h_100,c_fill{{ .image.image_url }}" type="image/webp">

                                    <source srcset="https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_20,w_100,h_100,c_fill{{ .image.image_url }}" type="image/jpg">
                                
                                    <img src="https://res.cloudinary.com/foxstructures/image/upload{{ .image.image_url }}" alt="{{ .image.image_alt }}" width="100" height="100">   
                                </picture>
                            </div>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:void(0);" class="portfolio-controls slider-playing" aria-label="pause the image gallery" title="pause the image gallery">
            <div class="icon-sm icon-fill-white">
                {{ partialCached "svg-icons/play.svg" . }}
                {{ partialCached "svg-icons/pause.svg" . }}
            </div>
		</a>
    </div>
</section>