{{ $related := .Site.RegularPages.RelatedIndices . "sectors" | first 3 }}
{{ with $related }}
<div class="block">
    <div class="related-posts wrapper-lg flow">
        <h2 class="no-margin">Explore Similar Projects</h2>
        <ul aria-label="Related Projects List" class="related-posts__list cards grid-columns-3 max-width-none">
            {{ range . }}
            {{ .Render "project-card" }}
            {{ end }}
        </ul>
        <div class="text-align-center">
            <a href="/portfolio/" class="btn btn--secondary">View all Projects</a>
        </div>
    </div>
</div>
{{ end }}