details {
    border: 1px solid $light-gray;
    border-radius: $radius;
    padding: $ic-100;
    cursor: pointer;
    height: fit-content;

    summary::marker {
        color: $primary-color;
    }
}