a {
  color: $primary-color;
  transition: 0.3s ease;

  &:hover,
  &:focus {
    color: $secondary-color;
    outline-color: $secondary-color;
  }
}

.site-main a:not(.btn, .home-hero__controls, .bg-black a, .service-card a, .card a, .breadcrumbs a, .social__icon, .category-list a, .card__categories, .pagination__numbers, .back, .categories, .post-navigation__link, .share-buttons__link),
.site-main .bg-black a:not(.btn, .service-card a, .card a, .back, .careers-card) {
  text-decoration: none;
  background-image: linear-gradient($secondary-color, $secondary-color),linear-gradient(270deg,$primary-color 0%,$primary-color 100%);
  background-size: 100% 2px,0 2px;
  background-position: 100% 100%,0 100%;
  background-repeat: no-repeat;
  transition: background-size $transition,background-position $transition,color $transition;

  &:hover,
  &:focus {
    background-size: 0 2px,100% 2px;
    background-position: 100% 100%,0 100%;
    text-decoration: none;
  }
}

// .site-main a {
//   color: $primary-color;
// }

.site-main .bg-black a:not(.btn) {
  color: $white;
}

.no-decoration {
  text-decoration: none;
}

