.blog-hero {
  overflow: visible;

  h1 {
    font-size: clamp($ic-300, 4vw, $ic-600);
  }

  .post-featured-image {
    img {
      height: 275px;

      @include breakpoint(md) {
        height: 400px;
      }
    }
  }
}

.back {
  color: $primary-color;
  transition: $transition;

  svg {
    position: relative;
    top: 4px;
    transition: $transition;
  }

  &:hover, 
  &:focus {
    color: $secondary-color;

    svg {
      stroke: $secondary-color;
      transform: translateX(-6px);
    }
  }
}

.reading-time {
  gap: .5rem;
}

.post-content {
  picture {
    display: block;
    
    @include breakpoint(sm) {
      margin-left: -50px;
      margin-right: -50px;
      box-shadow: 0 30px 30px -15px rgba(0,0,0,.25);
    }
  }
}