.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: $secondary-font;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: $ic--100 $ic-400;
  text-decoration: none;
  transition: $transition;
  width: fit-content;

  &:hover,
  &:focus {
    transition: $transition;
  }
}

.btn--primary {
  color: $white;
  background-color: $primary-color;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white;
    background-color: $black;
  }
}

.btn--secondary {
  color: $black;
  background-color: $secondary-color;
  transition: $transition;

  &:hover,
  &:focus {
    color: $black;
    background-color: #d48d0a;
  }
}


.btn--black {
  color: $secondary-color;
  background-color: $black;
  transition: $transition;

  &:hover,
  &:focus {
    color: $secondary-color;
    background-color: $primary-color;
  }
}

button {
  cursor: pointer;
}

.btn--filter {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: $ic-100 0;
  transition: $transition;

  svg {
    fill: $primary-color;
    width: $ic-400;
    height: $ic-400;
    margin-right: $ic-400;
    position: relative;
    top: -1px;
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.btn--category {
  font-size: .8rem;
}

.btn--layout-toggle {
  background: none;
  border: none;
  width: $ic-600;
  height: $ic-600;
  padding: .8rem;
  transition: .3s ease-in-out;

  svg {
    fill: $black;
  }
}

.btn--active {
  opacity: .8;
  transform: scale(.8);
}

.btn--arrow {
  font-size: clamp($ic--100, 3vw, $ic-100);
  display: flex; 
  align-items: center;
  padding-block: $ic--200;
  padding-inline: 0;

  svg {
    transition: $transition;
  }

  &:hover, 
  &:focus {
    svg {
      transform: translateX(8px);
    }
  }
}

.btn--arrow-light {
  color: $white;
}

.btn--arrow-dark {
  color: $black;
}