.card {
  list-style-type: none;
  max-width: none;
  margin-block-start: 0;
  transition: $transition;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);

  .overlay--yellow-gradient {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  &:hover, 
  &:focus {
      transform: translateY(-10px);

      .overlay--yellow-gradient {
          opacity: 1;
      }

      .service-card__underline {
          transform: scaleX(1.5);
      }
  }
}

.card::after {
  position: absolute;
  bottom: -5px;
  right: 0;
  content: "";
  width: 75%;
  height: 10px;
  background-color: $secondary-color;
}

.card__meta {
  position: absolute;
  top: -18px;
  left: 0;
}

.card__image-wrap {
  width: 100%;
  height: 250px;
}

.card__img {
  block-size: 250px;
  inline-size: 100%;
  object-fit: cover;
}

.card__link::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  height: 100%;
  width: 100%;
  content: "";
}

.card__content {
  padding: $ic-200;
}

.card__job-position {
  color: $secondary-color;
  margin-block-start: .5rem;
}