.swiper-slide {
    @include breakpoint(md) {
        height: 550px;
    }
}

.swiper-slider__project-image {
    max-inline-size: 850px;
    max-block-size: 550px;
}

.swiper-slider__project-quote {
    max-inline-size: 550px;
    margin-inline: auto;

    svg {
        position: absolute;
        top: 0;
        left: -$ic-800;
    }

    blockquote {
        border-left: 10px solid $secondary-color;
        padding: 0 $ic-200;
        margin-left: $ic-800;
    }
}

.swiper-slider__navigation {

    @include breakpoint(md) {        
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    .col:nth-of-type(1) {
        max-width: 850px;
    }

    .col:nth-of-type(2) {
        max-width: 550px;
    }
}

.swiper-slider__controls {
    padding: $ic-300;
    max-width: 150px;
    margin-left: auto;
    z-index: 1;
}

.swiper-slider__controls .swiper-button-next {
    height: 32px;
    width: 32px;
    top: 60%;
    right: 0;
}

.swiper-slider__controls .swiper-button-prev {
    height: 32px;
    width: 32px;
    top: 60%;
    left: 0;
}

.swiper-slider__controls .swiper-pagination {
    bottom: 12px;
    z-index: 1 !important;
}