.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay--yellow-gradient {
    background: linear-gradient(109.95deg, rgba(0, 0, 0, 0.15) 0%, rgba(244, 168, 29, 0.5) 100%);
    display: grid;
    place-items: center;
}