.hero-portfolio,
.hero-portfolio .gallerySwiper,
.hero-portfolio .gallerySwiper img {
    block-size: 60vh;

    @include breakpoint(md) {
        block-size: 98vh;
    }
}

.hero-portfolio,
.hero-portfolio .gallerySwiper {
    block-size: 60vh;
    inline-size: 100vw;

    @include breakpoint(md) {
        block-size: 98vh;
    }
}

.hero-portfolio {
    overflow: hidden;
}

.hero-portfolio .gallerySwiper img {
    object-fit: cover;
}

.hero-portfolio__header,
.portfolio__curve {
    inline-size: 101%;
}

.hero-portfolio__header {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: $white;
    padding-top: .5rem;
}

.hero-portfolio__header-inner {
    align-items: end;
}

.portfolio__curve {
    z-index: 1;
    bottom: calc(100% - 2px);
    pointer-events: none;
}

.hero-portfolio__header h1 {
    max-inline-size: 24ch;
}

.hero-portfolio .swiper-pagination {
    position: relative !important;
    width: max-content !important;
    bottom: 0 !important;
}

.thumbnailSwiper {
    display: none;

    @include breakpoint(md) {
        display: block;
        block-size: 90px;
        inline-size: 100%;
    }
}

.thumbnailSwiper .swiper-slide {
    // block-size: 50px;
    // inline-size: 50px !important;

    @include breakpoint(md) {
        block-size: 90px;
        inline-size: 90px !important;
    }
}

.thumbnailSwiper .swiper-slide img {
    // block-size: 50px;
    // inline-size: 50px !important;
    
    @include breakpoint(md) {
        block-size: 90px;
        inline-size: 90px !important;
        object-fit: cover;
    }
}

.thumbnailSwiper .swiper-slide-thumb-active::after {
    content: " ";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    block-size: 100%;
    inline-size: 100%;
    border: 4px solid $secondary-color;
    transition: all .15s ease-in-out;
}

.thumbnailSwiper .swiper-slide:hover {
    cursor: pointer; 
}

.portfolio-controls {
    bottom: 0;
}