.post-navigation {
  border-top: 1px solid rgba($black, .5);
}

.post-navigation__next,
.post-navigation__prev {
  padding: $ic-100;
}

.post-navigation__next a,
.post-navigation__prev a,
.post-navigation__back a {
  display: flex;
  text-decoration: none;
} 

.post-navigation__next svg,
.post-navigation__prev svg {
  position: relative; 
  top: -1px;
  transition: $transition;
}

.post-navigation__next {
  padding-left: $ic-200;
  border-left: 1px solid rgba($black, .5);

  svg {
    left: .5rem;
  }

  &:hover,
  &:focus {
    svg {
      transform: translateX(5px);
    }
  }
}

.post-navigation__prev {
  padding-right: $ic-200;
  
  svg {
    right: .5rem;
  }

  &:hover,
  &:focus {
    svg {
      transform: translateX(-5px);
    }
  }
}
