<li class="card flex flex-column p-relative col">
    {{ if .Params.Categories }}
	<div class="card__meta">
		{{ range (.GetTerms "categories") }}
			<a href="{{ .Permalink }}" class="btn btn--secondary btn--category" aria-label="View all {{ .LinkTitle }} posts">{{ .LinkTitle }}</a>
		{{ end }}
	</div>
	{{ end }}
    <div class="card__image-wrap p-relative cover-image">
        {{ if .Params.seo.featured_image }}
        <img src="{{ .Params.seo.featured_image }}" alt="" class="card__img dim">
            <div class="overlay overlay--yellow-gradient">
                <div class="btn btn--secondary" aria-label="Learn more about Fox Structures' {{ .Title }} Services">Read More</div>
            </div>
        {{ else }}
            <img src="https://source.unsplash.com/random/800x600?space" alt="" class="card__img dim">
            <div class="overlay overlay--yellow-gradient">
                <div class="btn btn--secondary" aria-label="Learn more about Fox Structures' {{ .Title }} Services">Read More</div>
            </div>
        {{  end }}
    </div>
    <div class="card__content bg-white flow">
        <div>
            <h3 class="h4"><a class="card__link no-decoration" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        </div>
        <div class="card__summary font-size-xs">{{ if .Params.seo.meta_description }}{{ .Params.seo.meta_description | safeHTML | truncate 125 }}{{ else }}{{ .Summary  | safeHTML | truncate 125 }}{{ end }}</div>
    </div>
</li>