<li class="card flex flex-column p-relative col">
    {{ if .Params.sectors }}
	<div class="card__meta">
		{{ range (.GetTerms "sectors") }}
			<a href="{{ .Permalink }}" class="btn btn--secondary btn--category" aria-label="View all {{ .LinkTitle }} posts">{{ .LinkTitle }}</a>
		{{ end }}
	</div>
	{{ end }}
    <div class="card__image-wrap p-relative cover-image">
        {{ if .Params.seo.featured_image }}
            <picture>
                <source srcset="https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_85,w_450,h_250,c_fill{{ .Params.seo.featured_image }}" type="image/avif">
                
                <source srcset="https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_85,w_450,h_250,c_fill{{ .Params.seo.featured_image }}" type="image/webp">
                
                <source srcset="https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_85,w_450,h_250,c_fill{{ .Params.seo.featured_image }}" type="image/jpg">
            
                <img class="card__img dim" src="https://res.cloudinary.com/foxstructures/image/upload{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="450" height="250" loading="lazy">   
            </picture>
            <div class="overlay overlay--yellow-gradient">
                <div class="btn btn--secondary">Learn More</div>
            </div>
        {{  end }}
    </div>
    <div class="card__content bg-white">
        <h2 class="h4 no-margin"><a class="card__link no-decoration" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p class="opacity-80 font-size-xs no-margin">{{ if .Params.location.city }}{{ .Params.location.city }},{{ end }} {{ if .Params.location.state }}{{ .Params.location.state }}{{ end }}</p>
    </div>
</li>