{{ define "main" }}
{{ partial "hero" . }}
{{ partial "breadcrumbs" . }}
{{ partial "intro" . }}
{{ if eq .Title "About" }}
<div class="wrapper-sm border-left-secondary flow">
    <p>Today Fox Structures provides design, <a href="/construction-services/welding/">welding</a> and <a href="/construction-services/">construction services</a> for all types of <a href="/construction-services/agricultural/">agricultural</a>, <a href="/construction-services/commercial/">commercial</a>, retail, light manufacturing and <a href="/construction-services/residential/">residential buildings</a>. In addition, <a href="/construction-services/commercial/mini-storage/">mini warehouses</a>, storage facilities and special-use buildings have continued to fuel our growth and progress in northeast Wisconsin.</p>

    <p>Browse some of the <a href="/portfolio/">unique projects</a> we’ve built in the past. Then <a href="/contact/">contact us</a> and see how <strong><em>we build with you in mind</em></strong>!</p>
</div>
{{ end }}
<section aria-label="Fox Structures Staff List" class="block">
    <div class="bg-black">
        <div class="wrapper-md">
            <ul class="staff-list max-width-none grid-columns-3">
                {{ $staffPages := where .Site.RegularPages "Section" "about" }}
                {{ range $staffPages }}
                    {{ if strings.HasPrefix .RelPermalink "/about/leadership/" }}
                        <li class="card card--staff flex flex-column p-relative">
                            <div class="card__image-wrap">
                                <picture>
                                    <source srcset="https://foxstructures.imgix.net{{ .Params.headshot }}?fm=avif&q=85&width=400&height=500&fit=crop" type="image/avif">
                                
                                    <source srcset="https://foxstructures.imgix.net{{ .Params.headshot }}?fm=webp&q=85&width=400&height=500&fit=crop" type="image/webp">
                                
                                    <source srcset="https://foxstructures.imgix.net{{ .Params.headshot }}?fm=jpg&q=85&width=400&height=500&fit=crop" type="image/jpg">
                                
                                    <img src="{{ .Params.headshot }}" alt="Headshot of Fox Structures {{ .Params.job_position }} {{ .Title }}" width="400" height="500" loading="lazy">   
                                </picture>
                            </div>
                            <div class="card__content text-align-center text-color-white">
                                <h3 class="no-margin"><a class="card__link no-decoration" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                                <p class="card__job-position font-size-xs shift-up letter-spacing-2 fw-700">{{ .Params.job_position }}</p>
                            </div>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</section>
{{ partial "careers-cta" . }}
{{ end }}