{{ define "main" }}
<div class="hero--short flex flex-center bg-black">
    <div class="wrapper-lg">
        <div class="border-left-secondary">
            <h1 class="no-margin">{{ .Title }}</h1>
            <p class="card__job-position font-size-xs shift-up letter-spacing-2 fw-700">{{ .Params.job_position }}</p>
        </div>
    </div>
</div>
{{ partial "breadcrumbs" . }}
<div class="block">
    <div class="wrapper-sm columns gap-md">
        <div class="col">
            <img src="{{ .Params.headshot }}" alt="">
        </div>
        <div class="col flow">
            <h2>About {{ .Title }}</h2>
            {{ .Content  }}
        </div>
    </div>
</div>
{{ partial "post-navigation" . }}
{{ partial "careers-cta" . }}
{{ end }}