{{ define "main" }}
<div class="hero--short flex flex-center bg-black">
    <div class="wrapper-lg">
        <div class="border-left-secondary">
            <h1 class="no-margin">{{ .Title }}</h1>
            <p class="card__job-position font-size-xs shift-up letter-spacing-2 fw-700">{{ .Params.job_position }}</p>
        </div>
    </div>
</div>
{{ partial "breadcrumbs" . }}
<div class="block">
    <div class="wrapper-sm columns gap-md">
        <div class="col">
            <img src="{{ .Params.headshot }}" alt="">
        </div>
        <div class="col flow">
            <h2>About {{ .Title }}</h2>
            {{ .Content  }}
        </div>
    </div>
    {{ if eq .Title "Tim Allen" }}        
    <div class="block-sm">
        <div class="wrapper-sm">
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="https://fast.wistia.net/embed/iframe/a75s0v1s45?videoFoam=true" title="Tim Video New" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" msallowfullscreen width="100%" height="100%"></iframe></div></div>
            <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
        </div>
    </div>
    {{ end }}
</div>
{{ partial "post-navigation" . }}
{{ partial "careers-cta" . }}
{{ end }}