.project-details {
    padding: $ic-600 $ic-400;
}

.project-details__label {
    margin-block-end: $ic--200;
}

.project-details ul {
    margin-block-start: $ic--200;
    margin-block-end: $ic--200;
}

.project-share-buttons ul {
    padding-inline-start: 0;
}

.project-share-buttons li {
    margin-block-start: 0;
}