<section aria-label="Featured Articles" class="block bg-white">
    <div class="wrapper-lg">
        <h2 class="text-align-center">Featured Articles</h2>
        <div class="block-md">
            {{ $pages := .Site.RegularPages }}
            {{ $blog := where $pages "Type" "blog" }}
            <div class="grid-columns-3">
                {{- range first 3 $blog -}}
                {{ .Render "blog-card" }}
                {{- end -}}
            </div>
        </div>
        <div class="text-align-center">
            <a href="/blog/" class="btn btn--secondary">View All Posts</a>
        </div>
    </div>
</section>