<div class="contact-sidebar">
  <div class="contact-info flow">
    <div class="contact-info__contact">
      <h2 class="h3">{{ .Site.Data.site_settings.business_name }}</h2>
      <address>
        {{ .Site.Data.site_settings.address.street }}
        <br>
        {{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}
      </address>
      <a href="{{ .Site.Data.site_settings.google_maps_url }}" class="decorated-link" rel="noopener noreferrer" target="_blank">View on Google Maps</a>
    </div>
    <div>
      <small>Local</small><br><a href="tel:{{ .Site.Data.site_settings.phone_local }}" class="decorated-link">{{ .Site.Data.site_settings.phone_local }}</a><br>
      <small>Phone</small><br><a href="tel:{{ .Site.Data.site_settings.phone }}" class="decorated-link">{{ .Site.Data.site_settings.phone }}</a>
    </div>
    <div><small>Fax</small><br>{{ .Site.Data.site_settings.fax }}</div>
    <p>
      <small>Office hours</small><br>
      Monday – Friday<br>
      7:00 am – 5:00 pm
    </p> 
    <div class="flow">
      <h3>Join Our Team</h3>
      <p>Looking to hone your construction expertise with a great team? View our open positions and apply today!</p>
      <a class="btn btn--secondary" href="/careers/">View Careers<a>
    </div>
  </div>
</div>