<section aria-label="Services List" class="block bg-gray">
    <h2 class="text-align-center no-margin">Featured Building Projects</h2>
    <div class="wrapper-lg">
        <div class="block-md">
            <!-- Swiper -->
            <div class="swiper projectSwiper">
                <div class="swiper-wrapper">
                    {{ $featuredProjects := where .Site.Pages "Params.featured" "==" true }}
                    {{ range sort $featuredProjects "Params.order" }}
                    <!-- Display the project information, such as title, description, etc. -->
                    <div class="swiper-slide columns gap-xl">
                        <div class="col swiper-slider__project-image cover-image">
                            <picture>
                                <source sizes="(min-width: 62rem) 50vw, 100vw" srcset="https://foxstructures.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=75&width=400&height=250&fit=crop 400w, https://foxstructures.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=75&width=600&height=450&fit=crop 600w, https://foxstructures.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=75&width=800&height=500&fit=crop 800w" type="image/avif">
                            
                                <source sizes="(min-width: 62rem) 50vw, 100vw" srcset="https://foxstructures.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=75&width=400&height=250&fit=crop 400w, https://foxstructures.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=75&width=600&height=450&fit=crop 600w, https://foxstructures.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=75&width=800&height=500&fit=crop 800w" type="image/webp">
                            
                                <source sizes="(min-width: 62rem) 50vw, 100vw" srcset="https://foxstructures.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=75&width=400&height=250&fit=crop 400w, https://foxstructures.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=75&width=600&height=450&fit=crop 600w, https://foxstructures.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=75&width=800&height=500&fit=crop 800w" type="image/jpg">
                            
                                <img src="{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="600" height="450">   
                            </picture>
                        </div>
                        <div class="col swiper-slider__project-quote">
                            <h3>{{ .Title }}</h3>
                            <blockquote class="flow p-relative">
                                <div class="icon-fill-primary">{{ partialCached "svg-icons/quote-icon.svg" . }}</div>
                                <p>{{ .Params.quote.quote_short }}</p>
                                <p>
                                    <span class="fw-600">{{ .Params.quote.name }}</span><br>
                                    <span class="font-size-xs">{{ .Params.quote.position }}</span>
                                </p>
                                <a class="btn btn--secondary" href="{{ .RelPermalink }}">View Project</a>
                            </blockquote>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="swiper-slider__navigation columns gap-xl">
                    <div class="swiper-slider__controls-wrapper col">
                        <div class="swiper-slider__controls bg-secondary p-relative">
                            <div class="swiper-button-next"><div class="icon-lg icon-stroke-primary">{{ partialCached "svg-icons/double-chevron-right.svg" . }}</div></div>
                            <div class="swiper-button-prev"><div class="icon-lg icon-stroke-primary">{{ partialCached "svg-icons/double-chevron-left.svg" . }}</div></div>
                            <div class="swiper-pagination fw-700 font-size-xs"></div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-align-center">
        <a class="btn btn--secondary" href="/portfolio/">View All Projects</a>
    </div>
</section>