{{ $heroClass := lower .Page.Title }}
<section aria-labelledby="hero-heading" class="hero {{ anchorize $heroClass }}-hero grid">
  <div class="hero__vertical-curves grid-12 grid-5-md bg-black p-relative">
    {{ partialCached "svg-icons/curves-vertical.svg" . }}
  </div>
  <div class="grid-12 grid-7-md p-relative">
    {{ partial "hero-image" . }}
    {{ if .Params.hero.featured_project.enabled }}
      {{ with .Params.hero.featured_project }}
      <div class="hero__featured-project bg-black">
        <div class="h5 fw-700">{{ .name }}</div>
        <a class="font-size-xs" href="{{ .url }}">View Project</a>
      </div>
      {{ end }}
    {{ end }}
  </div>
  <div class="hero__content wrapper-lg">
    <div class="border-left-secondary flow">
      <h1 id="hero-heading" class="h2 text-color-white no-margin">{{ .Params.hero.heading | safeHTML }}</h1>
      <div class="hero__body flow text-color-white">{{ .Params.hero.body | markdownify }}</div>
      {{ if .Params.hero.button.enabled }}
        {{ with .Params.hero.button }}
          {{ partial "button-secondary" . }}
        {{ end }}
      {{ end }}
      {{ if .Params.hero.button_2.enabled }}
        {{ with .Params.hero.button_2 }}
          {{ partial "button-secondary" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
