<section aria-label="Services List" class="block bg-black">
    <h2 class="text-color-white text-align-center">Construction Services</h2>
    <div class="wrapper-lg">
        <ul class="services-list columns gap-sm">
            {{ $pages := .Site.RegularPages }}
            {{ $services := where $pages "Type" "construction-services" }}
            {{ range $services }}
                <li class="service-card flex flex-column p-relative col">
                    <div class="service-card__image-wrap p-relative cover-image">
                        <img src="{{ .Params.seo.featured_image }}" class="image" alt="custom calf barn designed and built by Fox Structures">
                        <div class="overlay overlay--yellow-gradient">
                            <div class="btn btn--secondary" aria-label="Learn more about Fox Structures' {{ .Title }} Services">Learn More</div>
                        </div>
                    </div>
                    <div class="service-card__content bg-primary text-color-white flow">
                        <div>
                            <h3 class="text-align-center no-margin"><a class="service-card__link no-decoration" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                            <div class="service-card__underline"></div>
                        </div>
                        <p class="font-size-xs">{{ .Params.hero.body }}</p>
                    </div>
                </li>
            {{ end }}
        </ul>
    </div>
</section>