<section aria-label="Services List" class="block bg-black">
    <h2 class="text-color-white text-align-center">Construction Services</h2>
    <div class="wrapper-lg">
        <ul class="services-list columns gap-sm">
            {{ $pages := .Site.RegularPages }}
            {{ $services := where $pages "Type" "construction-services" }}
            {{ $exclude := (slice "Barn Construction" "Commercial Storage" "Farm Design" "Mini Storage" "Office Buildings") }}

            {{ range $services }}
                {{ if not (in $exclude .Title) }}
                    <li class="service-card flex flex-column p-relative col">
                        <div class="service-card__image-wrap p-relative cover-image">
                            <picture>
                                <source srcset="https://res.cloudinary.com/foxstructures/image/upload/f_avif,q_85,w_500{{ .Params.seo.featured_image }}" type="image/avif">
                            
                                <source srcset="https://res.cloudinary.com/foxstructures/image/upload/f_webp,q_85,w_500{{ .Params.seo.featured_image }}" type="image/webp">
                            
                                <source srcset="https://res.cloudinary.com/foxstructures/image/upload/f_jpg,q_85,w_500{{ .Params.seo.featured_image }}" type="image/jpg">
                            
                                <img src="https://res.cloudinary.com/foxstructures/image/upload{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="500" height="300" loading="lazy">   
                            </picture>
                            <div class="overlay overlay--yellow-gradient">
                                <div class="btn btn--secondary">Learn More</div>
                            </div>
                        </div>
                        <div class="service-card__content bg-primary text-color-white flow">
                            <div>
                                <h3 class="text-align-center no-margin"><a class="service-card__link no-decoration" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                                <div class="service-card__underline"></div>
                            </div>
                            <p class="font-size-xs">{{ .Params.hero.body }}</p>
                        </div>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</section>