{{ define "main" }}
{{ partialCached "home/home-hero" . }}
{{ partialCached "home/home-intro" . }}
{{ if .Params.experts_in_construction.enabled }}
    {{ with .Params.experts_in_construction }}
    <section aria-labelledby="{{ .heading | urlize }}" class="block bg-white">
        <div class="wrapper-lg">
            <div class="columns gap-xl">
                <div class="col">
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="https://fast.wistia.net/embed/iframe/qppwr45ai7?videoFoam=true" title="Fox Structures Corporate Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" msallowfullscreen width="100%" height="100%"></iframe></div></div>
                    <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
                </div>
                <div class="col flow">
                    {{ partial "heading" . }}
                    {{ if .body }}
                    <p>{{ .body | markdownify }}</p>
                    {{ end }} 
                    {{ if .button.enabled }}
                    {{ with .button }}
                        {{ partial "button-primary" . }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    {{ end }}
{{ end }}
{{ partialCached "services-grid" . }}
{{ partialCached "featured-projects" . }}
{{ end }}
