{{ define "main" }}
{{ partial "hero" . }}
{{ partial "breadcrumbs" . }}
<div class="block">
  <div class="wrapper-lg columns-two-thirds-left gap-md">
    <div class="col">
      <div class="contact-form">
        <div class="contact-form__wrapper">
          {{ partial "forms/contact-form" . }}
        </div>
      </div>
    </div>
    <div class="col">
      {{ partial "contact-info" . }}
    </div>
  </div>
  <div class="block-sm">
    <div class="wrapper-lg flow">
      <h2>Driving Directions</h2>
      <p>Fox Structures is located in the Kaukauna Industrial Park, near U.S. 41 between Hwy 55 and County Road J.</p>
  
      <p>From the 55 exit: Take 55 south to the first four-way stop and turn left (east) on Hwy 00 (Hyland Ave). Go ¾ mile to Badger Road on the left—you’ll see Fox Structures straight ahead at 2201 Eastline Road.</p>
        
      <p>From the J exit: Take J south to the first four-way stop at Hwy 00 (Hyland Ave) and turn right (west). Go ¼ mile to Badger Road on the right—you’ll see Fox Structures straight ahead at 2201 Eastline Road.</p>
    </div>
  </div>
</div>
{{ partial "careers-cta" . }}
{{ end }}